<a href="https://colab.research.google.com/github/youssef1234-pixel/Python_tutorials/blob/main/Copy_of_Task_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1**: Create a dictionary with at least 5 key-value pairs and use the `len()` function to find the number of elements in the dictionary.

In [ ]:


my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer",
    "is_student": False
}
num_elements = len(my_dict)
print(f"The dictionary has {num_elements} elements.")

**Task 2**: Given a dictionary of student names and their scores, delete a key-value pair using the `del()` function. Print the dictionary before and after deletion.

In [ ]:

student_scores = {
    "Alice": 95,
    "Bob": 88,
    "Charlie": 76,
    "David": 92,
    "Eve": 85
}

print("Dictionary before deletion:", student_scores)


del student_scores["Bob"]

print("Dictionary after deletion:", student_scores)

**Task 3**: Create a dictionary of 3 fruits and their prices. Use the `.keys()` method to display all the keys.

In [ ]:


fruit_prices = {
    "apple": 1.0,
    "banana": 0.5,
    "orange": 0.75
}

print("Keys in the fruit_prices dictionary:", fruit_prices.keys())

**Task 4**: Create a dictionary of employee names and their departments. Use the `.values()` method to display all the values in the dictionary.

In [ ]:


employee_departments = {
    "Alice": "Sales",
    "Bob": "Marketing",
    "Charlie": "Engineering",
    "David": "HR",
    "Eve": "Finance"
}

print("Departments in the employee_departments dictionary:", employee_departments.values())

**Task 5**: Create a dictionary with country names as keys and their capitals as values. Use the `.items()` method to display all key-value pairs.

In [ ]:


country_capitals = {
    "United States": "Washington D.C.",
    "France": "Paris",
    "Japan": "Tokyo",
    "Brazil": "Brasília",
    "Australia": "Canberra"
}

print("Key-value pairs in the country_capitals dictionary:")
for country, capital in country_capitals.items():
    print(f"{country}: {capital}")

**Task 6**: Write a program that creates a dictionary of book titles and their authors. Use the `.get()` method to safely retrieve the author of a specific book. If the book is not found, return "Author not found".

In [ ]:

book_authors = {
    "The Hitchhiker's Guide to the Galaxy": "Douglas Adams",
    "Pride and Prejudice": "Jane Austen",
    "1984": "George Orwell",
    "To Kill a Mockingbird": "Harper Lee",
    "The Great Gatsby": "F. Scott Fitzgerald"
}
book_title = "1984"
author = book_authors.get(book_title, "Author not found")
print(f"The author of '{book_title}' is: {author}")
book_title = "Brave New World"
author = book_authors.get(book_title, "Author not found")
print(f"The author of '{book_title}' is: {author}")

**Task 7:** Given a dictionary of product names and their stock quantities, remove a product using the `.pop()` method and display the remaining dictionary.

In [ ]:

product_stock = {
    "Laptop": 10,
    "Mouse": 50,
    "Keyboard": 30,
    "Monitor": 15,
    "Webcam": 25
}

print("Product stock before removing a product:", product_stock)

removed_stock = product_stock.pop("Mouse")

print("Removed stock for 'Mouse':", removed_stock)
print("Product stock after removing 'Mouse':", product_stock)

**Task 8:** Create a dictionary of your favorite movies and their release years. Use the `.popitem()` method to remove and display an arbitrary movie from the dictionary.

In [ ]:

favorite_movies = {
    "The Shawshank Redemption": 1994,
    "The Godfather": 1972,
    "The Dark Knight": 2008,
    "Pulp Fiction": 1994,
    "Fight Club": 1999
}
removed_movie = favorite_movies.popitem()
print("Removed movie:", removed_movie)
print("Remaining movies:", favorite_movies)

**Task 9:** Create a dictionary of 5 cities and their populations. Use the `.clear()` method to empty the dictionary, then print the dictionary to confirm it is empty.

In [ ]:

city_populations = {
    "Tokyo": 13929000,
    "Delhi": 18980000,
    "Shanghai": 26320000,
    "Sao Paulo": 21850000,
    "Mexico City": 21671000
}

print("Dictionary before clear:", city_populations)

city_populations.clear()

print("Dictionary after clear:", city_populations)

**Task 10:** Write a program that creates a dictionary of 4 car brands and their models. Make a copy of this dictionary using the `.copy()` method, add a new car model to the copied dictionary, and print both dictionaries.

In [ ]:

car_models = {
    "Toyota": ["Corolla", "Camry"],
    "Honda": ["Civic", "Accord"],
    "Ford": ["F-150", "Mustang"],
    "Chevrolet": ["Silverado", "Camaro"]
}

copied_car_models = car_models.copy()

copied_car_models["BMW"] = ["3 Series", "5 Series"]

print("Original dictionary:", car_models)
print("Copied dictionary:", copied_car_models)

**Task 11:** Create two dictionaries: one with student names as keys and their ages as values, and another with student names and their grades. Use the `.update()` method to merge the second dictionary into the first.

In [ ]:

student_ages = {
    "Alice": 20,
    "Bob": 22,
    "Charlie": 19,
    "David": 21,
    "Eve": 20
}

student_grades = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "C",
    "David": "A",
    "Eve": "B"
}

student_ages.update(student_grades)

student_ages

**Task 12:** Create a set of numbers from 1 to 5. Use the `.add()` method to add the number 6 to the set, then print the set.

In [ ]:

numbers_set = {1, 2, 3, 4, 5}
numbers_set.add(6)
numbers_set

**Task 13:** Write a program that creates a set of vowels. Use the `.update()` method to add a list of consonants to the set and print the updated set.

In [ ]:

vowels = {'a', 'e', 'i', 'o', 'u'}
consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
vowels.update(consonants)
vowels

**Task 14:** Given a set of city names, use the `.remove()` method to delete a specific city. Handle the case where the city does not exist using `.discard()`.

In [ ]:


city_set = {"London", "Paris", "Berlin", "Rome", "Madrid"}


city_to_remove_remove = "Berlin"
try:
    city_set.remove(city_to_remove_remove)
    print(f"Removed '{city_to_remove_remove}' using .remove():", city_set)
except KeyError:
    print(f"'{city_to_remove_remove}' was not found in the set.")

city_set = {"London", "Paris", "Berlin", "Rome", "Madrid"}


city_to_remove_discard_exists = "Rome"
city_set.discard(city_to_remove_discard_exists)
print(f"Removed '{city_to_remove_discard_exists}' using .discard():", city_set)

city_to_remove_discard_nonexistent = "Tokyo"
city_set.discard(city_to_remove_discard_nonexistent)
print(f"Attempted to discard '{city_to_remove_discard_nonexistent}' (non-existent):", city_set)

**Task 15:** Create a set of integers. Use the `.pop()` method to remove an arbitrary element and print the element removed along with the updated set.

In [ ]:

integer_set = {10, 20, 30, 40, 50, 60}
removed_element = integer_set.pop()
print(f"Removed element: {removed_element}")
print("Updated set:", integer_set)

**Task 16:** Write two sets and check their union using the `union()` method.

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

**Task 17:** Given two sets, find their intersection using the `intersection()` method and print the common elements.

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

**Task 18:** Create a set of odd numbers and a set of even numbers. Use the `difference()` method to find numbers that are in the odd set but not in the even set.

In [ ]:

odd_numbers = {1, 3, 5, 7, 9}
even_numbers = {2, 4, 6, 8, 10}

difference_set = odd_numbers.difference(even_numbers)
print("Numbers in the odd set but not in the even set:", difference_set)

**Task 19:** Write a program that creates a set of numbers. Use the `.clear()` method to empty the set and verify it is empty using `len()`.

In [ ]:

number_set_to_clear = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("Set before clear:", number_set_to_clear)
print("Length of set before clear:", len(number_set_to_clear))

number_set_to_clear.clear()

print("Set after clear:", number_set_to_clear)
print("Length of set after clear:", len(number_set_to_clear))

**Task 20:** Create two sets: one with multiples of 3 and another with multiples of 5. Use `issubset()` to check if one set is a subset of the other.

In [ ]:

multiples_of_3 = {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
multiples_of_5 = {5, 10, 15, 20, 25, 30}


is_subset_3_of_5 = multiples_of_3.issubset(multiples_of_5)
print(f"Is multiples of 3 a subset of multiples of 5? {is_subset_3_of_5}")


is_subset_5_of_3 = multiples_of_5.issubset(multiples_of_3)
print(f"Is multiples of 5 a subset of multiples of 3? {is_subset_5_of_3}")


subset_set = {3, 6, 9}
superset_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

is_subset = subset_set.issubset(superset_set)
print(f"Is {subset_set} a subset of {superset_set}? {is_subset}")

**Task 21:** Write two sets and check if one set is a superset of the other using `issuperset()`.

In [ ]:

set_a = {1, 2, 3, 4, 5, 6}
set_b = {3, 4}

is_superset = set_a.issuperset(set_b)
print(f"Is {set_a} a superset of {set_b}? {is_superset}")

is_superset = set_b.issuperset(set_a)
print(f"Is {set_b} a superset of {set_a}? {is_superset}")

**Task 22:** Create a list of 5 integers. Use the `len()` function to find the length of the list.

In [ ]:

my_list = [10, 20, 30, 40, 50]
list_length = len(my_list)
print(f"The length of the list is: {list_length}")

**Task 23:** Given a list of numbers, use the `max()` and `min()` functions to find and print the largest and smallest numbers.

In [ ]:
numbers_list = [5, 2, 9, 1, 7, 3, 8, 4, 6]
largest_number = max(numbers_list)
smallest_number = min(numbers_list)

**Task 24:** Write a program that creates a list of numbers and calculates their sum using the `sum()` function.

In [ ]:
numbers_list = [5, 2, 9, 1, 7, 3, 8, 4, 6]
sum_of_numbers = sum(numbers_list)

**Task 25:** Create a list of strings. Use the `.append()` method to add a new string to the list and print the updated list.

In [ ]:
list_string = ["apple","banana","orange"]
list_string.append("kiwi")
list_string

**Task 26:** Write a list try to insert a value at the second position using `.insert()`.

In [3]:
list_numbers =[1,2,3,4,5]


list_numbers.insert(1,1)

print(list_numbers)

[1, 1, 2, 3, 4, 5]

**Task 27:** Given a list of colors, use the `.remove()` method to delete a specified color. Handle the case where the color is not in the list.

In [6]:
colors = ["red", "green", "blue", "yellow", "orange"]
colors.remove("blue")
print(colors)

['red', 'green', 'yellow', 'orange']

**Task 28:** Write a program that creates a list of student names and uses `.pop()` to remove and return the last student in the list. Print the removed student and the updated list.

In [7]:
students = ["Alice", "Bob", "Charlie", "David", "Eve"]
removed_student = students.pop()
print("Removed student:", removed_student)
print("Updated list of students:", students)

Removed student: Eve
Updated list of students: ['Alice', 'Bob', 'Charlie', 'David']

**Task 29:** Create a list of integers and use `.clear()` to remove all elements. Confirm the list is empty by printing it.

In [8]:
numbers_lists=[1,2,3,4]
numbers_lists.clear()
print(numbers_lists)

[]

**Task 30:** Write a program that copies a list of numbers using the `.copy()` method, then modifies the copy and prints both the original and copied lists.

In [9]:
numbers_lists=[1,2,3,4]
copied_list=numbers_lists.copy()
copied_list.append(5)
print(numbers_lists)
print(copied_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

**Task 31:** Given a list of words, use the `.count()` method to find how many times a specific word appears in the list.

In [10]:
list_string=["apple","banana","orange","apple"]
list_string.count("apple")

2

**Task 32:** Write a program that takes a string input from the user and uses `len()` to find the length of the string.

In [11]:
string_input = input("Enter a string: ")
string_length = len(string_input)
print(f"The length of the string is: {string_length}")

Enter a string: yyyyyyy
The length of the string is: 7

**Task 33:** Given a string, use `.lower()` and `.upper()` methods to convert it to lowercase and uppercase. Print both versions.

In [ ]:
user_input=input("Enter a string: ")
print(user_input.lower())
print(user_input.upper())

**Task 34:** Create a string and use `.capitalize()` to make the first character uppercase.

In [13]:
user_input=input("Enter a string: ")
print(user_input.capitalize())

Enter a string: yousef
Yousef

**Task 35:** Write a program that takes a sentence as input and converts it to title case using `.title()`.

In [15]:
user_input=input("Enter a string: ")
print(user_input.title())

Enter a string: hello word
Hello Word

**Task 36:** Given a sentence, use `.find() `to search for a specific word and print its index. If the word is not found, print a message.

In [16]:
user_input=input("Enter a string: ")
print(user_input.find("apple"))

Enter a string: apple is delicious
0

**Task 37:** Create a string with multiple words. Use `.count()` to find how many times a specific character appears in the string.

In [17]:
user_input=input("Enter a string: ")
print(user_input.count('a'))

Enter a string: ahmed is playing football
3

**Task 38:** Write a program that replaces all occurrences of a substring in a string with another substring using `.replace()`.

In [19]:
First_String="mohamed hassienin"
Second_string="ahmed"
print(First_String.replace("mohamed","ahmed"))

ahmed hassienin

**Task 39:** Given a list of numbers, create a formatted string using `.format()` to display them as a sentence.

In [20]:
numbers_list = [1, 2, 3, 4, 5]
formatted_string = "The numbers are: {}".format(", ".join(map(str, numbers_list)))
print(formatted_string)

The numbers are: 1, 2, 3, 4, 5

**Task 40:** Write a program that takes two variables and uses an f-string `(f"{}")` to create a formatted message.

In [21]:

name = "World"
greeting = "Hello"
message = f"{greeting}, {name}!"
message

'Hello, World!'

**Task 41:** Create a tuple of 5 elements and use `len()` to find the number of elements in the tuple.

In [22]:
Element_tuple=(1,2,3,4,5)
len(Element_tuple)

5

**Task 42:** Given a tuple of numbers, use `max()` and `min()` to find the highest and lowest numbers in the tuple.

In [ ]:

numbers_tuple = (15, 8, 23, 4, 42, 1)
highest_number = max(numbers_tuple)
lowest_number = min(numbers_tuple)
print(f"The highest number in the tuple is: {highest_number}")
print(f"The lowest number in the tuple is: {lowest_number}")

**Task 43:** Write a program that creates a tuple of integers and calculates the sum using `sum()`.

In [23]:

numbers_tuple = (10, 20, 30, 40, 50)
sum_of_tuple = sum(numbers_tuple)
print(f"The sum of the integers in the tuple is: {sum_of_tuple}")

The sum of the integers in the tuple is: 150

**Task 84:** Given a tuple of elements, use `.count()` to find the frequency of a specific element.

In [25]:
numbers_tuple = (10, 20, 30, 40, 50, 10)
element_to_count = 10
frequency = numbers_tuple.count(element_to_count)
print(f"The frequency of {element_to_count} in the tuple is: {frequency}")

The frequency of 10 in the tuple is: 2

**Task 45:** Write a program that takes a tuple of strings and uses `.index()` to find the position of a specific string.

In [26]:
tuble_string=("apple","banana","orange")
print(tuble_string.index("banana"))

1

**Task 46**: Write a program that takes a list of integers, converts it to a set to remove duplicates, and then back to a list.

In [27]:

integer_list = [1, 2, 2, 3, 4, 4, 5]
integer_set = set(integer_list)
unique_integer_list = list(integer_set)
print("Original list:", integer_list)
print("List with duplicates removed:", unique_integer_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

**Task 47:** Given a string, create a tuple of all unique characters using a set.

In [30]:
Word="yousefu"
unique_characters_tuple = tuple(set(Word))
print(unique_characters_tuple)

('y', 'e', 'f', 'o', 's', 'u')

**Task 48:** Create a set of even numbers and use a list comprehension to generate a list of their squares.
- Search about `list comprehension`

In [ ]:

even_numbers_set = {2, 4, 6, 8, 10}
even_numbers_squared = [number ** 2 for number in even_numbers_set]
even_numbers_squared

**Task 49:** Write a program that takes a sentence, splits it into words, and stores the words in a tuple.
- Search about the `split()` function in Python.

In [31]:
input_user="Hello World"
print(tuple(input_user.split()))

('Hello', 'World')

$$\mathrm{Best \space Wishes..♡}$$